/*Main look of page*/
body {
    background-color: #D4D0C3;
    max-width: 400px;
    margin: 1.25rem auto;
}
main {
    
    justify-items: center;
    
}

/*Look of table */
h1 {
    color: #E4DBDB;
    background-color: #1D2E26;
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
}

p {
    text-align: center;
}
table {
    text-align: center;
    border: 1px solid #1D2E26;
    width: 100%;
    border-collapse: collapse;    
}
/*look of header in table*/
th {
    font-size: larger;
    color: #E4DBDB;
    background-color: #1D2E26;
    padding-top: 20px;
    
}
.title {
    background-color: rgba(29, 46, 38, .7);
}

/*look of main table */
td {
    border: 1px solid #1D2E26;
    height: 30px;
    font-size: larger;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E4DBDB;
}

.feature2 {
    background-color: rgba(228,219,219,.4);
}

.ex {
    color: #FB7923;
}