/*Everything for the entire site*/
    body {
        background-color: #F6F7F2;
        font-family: 'Quicksand', sans-serif;
    }


/*HEADER area--------------------------------------------------*/
    header div {
        position: relative;
    }
    #homeMainImage {        
        max-width: 100%;
        height: auto;
    }
    #mainLogo {        
        position: absolute;
        top: 1rem;
        left: 1rem;     
    }
    #logoWords {
        position: absolute;
        top: 5rem;
        left: 1rem;
       
        color: #B4152B;
        background-color: #F6F7F2;
    } 
/*MAIN area -------------------------------------------------*/
    /*navagation-------------------------------------------*/
    
        .headerNav { 
            top: 0;
            position: sticky;  
            display: grid;
            grid-template-columns: repeat(3, 1fr);    
            background-color: #575B33;
            padding: .625rem;
                
        }
        #navList {
            display: none;
            grid-column: 1/4;
        }

        #navList a {
            color: #FACC08;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.5rem;
            display: block;
            padding: 1rem;
            text-align: center;
            box-shadow: #F6F7F2;
        }
        
        .icon {
            background-color: #575B33;
            color: #FACC08;
            border: 2px solid #FACC08;        
        }
        .icon:hover {
            background-color: #FACC08;
            color: #575B33;        
            cursor: pointer;
        }
        #navList a:hover {
            background-color: #FACC08;
            color: #575B33;
            font-weight: bolder;        
        }
        .navBtn {
            justify-self: right;
            padding-top: 1rem;
            padding-right: .625rem;
        }
        .social {
            justify-self: center;
            padding-top: 1rem;
        }
    /* HOME page Main area----------------------------------------------*/
        .homeMain {
            display: grid;              
            gap: .5rem;        
        }
        .homeWelcome{
            grid-row: 2/3;
        }
        .homeWelcome p, .homeLocation p {
            padding: 1rem .5rem 1rem 1rem;
            color: #4D363E;
            font-size: 1.2rem;
            font-weight: bold;
        }
        
        .homeApple {
            grid-row: 3/4;       
        }
        .homeApple img {
            width: 100%;
            height: auto;
            border-radius: 5px;               
        }
        .homeLocation {
            grid-row: 4/5;        
            margin-top: .5rem;
            margin-bottom: .5rem;
        }
        
        .homeLocation div {
            padding-left: 1rem;
        }
        .homeMap {        
            grid-row: 5/6;
            margin-top: .5;
            padding-left: .5rem;
        }
        .homeMap iframe {
            width: 90%;       
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .homeWeather {
            grid-row: 6/7;       
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        .homeFruitDrink {
            border: 5px solid #B4152B;
            border-radius: 5px;                
            top: 7rem;
            position: sticky;
            background-color: #B4152B;
            max-height: 350px;
        }
        .homeFruitDrink h2 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
        .homeFruitDrink h2, .homeFruitDrink a {
            color: #F6F7F2;
        }
        .homeFruitDrink a {
            text-decoration: none;
        }
        .homeDrinkImage {
            display: none;        
        }
        
        .homeDrinkInput form {
            padding-left: 4rem;
        }
        .homeInput {
            font-weight: bold;
            padding-left: .5rem;
            display: block;
            padding: .625rem;
        }
        .homeInputSubmit {
            background-color: #F6F7F2;
            padding: .625rem;
            color: #B4152B;
            font-weight: bold;
            margin-left: .625rem;
            border: 4px solid #4D363E;
            border-radius: 5px;        
        }
        .homeInputSubmit:hover {
            background-color: #4D363E;
            border: 4px solid #B4152B;
            color: #F6F7F2;
        } 
    /*Main area Weather----------------------------*/
        .homeWeather {            
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            margin-left: 1rem;
            gap: .5rem;  
            margin-bottom: .625rem;         
        }
        .homeWeather section {
            display: grid;
            grid-template-columns: 1fr auto 1fr 1fr 1fr;
            box-shadow: 0 4px 8px 0 rgba(77, 54, 62, 0.2), 0 6px 20px 0 rgba(77, 54, 62, 0.19);
            background-color: #eef0e7;
            color: #4D363E;
            align-items: center;
            justify-items: center;
            border-radius: 5px;
        }
        .homeWeather h2, .homeWeather h3, .homeWeather img, .homeWeather p {
            margin: 0; 
        }
        .homeWeather section h3 {            
            padding-left: 1rem; 
        }
        .homeWeather p {
            font-weight: bold;
        }
/*FRESH Main area--------------------------------*/
    /*Header area with sticky navigation*/
       .freshHeading {
            text-align: center;
            background-color: rgba(87, 91, 51, .8);
            color: #FACC08;
            top: 6rem;
            position: sticky;
       } 
       .freshHeading h1 {
            margin: 0;
            padding: .5rem 0 1rem 0;
       }
       .freshNav {
        
            color: #4D363E; 
            display: grid;  
            grid-template-columns: 1fr 1fr;      
       }
       .freshNav a {
            text-decoration: none;
            color: #FACC08;
            font-size: larger;
            font-weight: bold;
            padding: .8rem;
       }
       .freshNav a:hover {
            background-color: rgba(250, 204, 8, .6);
            color: #575B33;
       }
       .freshOrder {
            display: grid;
            grid-template-rows: 1fr 1fr;
            margin-bottom: .8rem;
        
       }
       .drinksBlend {
            border-bottom: 4px double #B4152B;
            border-top: 4px double #B4152B;                
       }
       .drinksBlend h2, .baskets h2 {
            color: #B4152B;
            margin: 1.5rem;

       }
       .drinksBlend form, .baskets form {
            font-size: large;
            font-weight: bold;
            padding-left: .5rem;
            color: #4D363E;
       }
       .baskets {        
            color: #4D363E;
       }
       .drinksBlend fieldset, .baskets fieldset {
            border: none;
       } 
       .fruitDrink {
            display: block;
            padding-top: .8rem;
       }
       .drinkDiv {
            padding: .5rem 0 .5rem 0;
       }
       .drinksBlend legend, .baskets legend {
            font-size: larger;
       }
       .drinkSubmit, .basketSubmit {
            border: none;
            background-color: #B4152B;
            color: #F6F7F2;
            padding: .8rem;
            font-weight: bold;
            margin-left: 2rem;
            margin-top: .5rem;
            font-size: 1.7rem;
            border-radius: 5px;
        }
        .drinkSubmit:hover, .basketSubmit:hover {        
            background-color: #4D363E;                
            font-weight: bolder;
        }
        /*Thank you*/
        #drinkThanks,  #basketThanks {
            display: none;
            border: 3px outset rgba(180, 21, 43, .4);
            margin-left: 1rem;
            margin-top: 1rem;                        
        }
        .pickupOrder {
            display: flex;
            
        }
        #drinkThanks h2,  #basketThanks h2 {
            text-align: center;
        }
        #drinkThanks h3, #basketThanks h3, #drinkThanks p, #basketThanks p {
            color: #4D363E;
            padding-left: 1rem;            
        }
        #drinkThanks p, #basketThanks p {
            font-weight: bold;
        }
    /*meet fruit----------------------------*/
        .meetFruit h2 {
            text-align: center;
            color: #4D363E;
        }
        .fruitdescription {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            margin-bottom: 1rem;            
        }
        .fruitdescription section {
            box-shadow: 0 4px 8px 0 rgba(77, 54, 62, 0.2), 0 6px 20px 0 rgba(77, 54, 62, 0.19);
            text-align: center;
            padding-bottom: .5rem;
            padding-top: .5rem;
        }
        .fruitdescription h3, .fruitdescription h4  {
            margin-top: 0;
            margin-bottom: .5rem;
        }
        .fruitdescription p {
            margin: 0;
        }


/*ABOUT us Main area-------------------------------*/
    .aboutUsMain {
        padding-left: 1rem;
        color: #4D363E;
        padding-bottom: .5rem;
    } 
    .aboutUsMain p{
        font-weight: bold;
    }
    .aboutUsMain img {
        border-radius: 5px;
        max-width: 100%;
        height: auto;
    }       
        
/*FOOTER----------------------------------------*/
footer {
    background-color: rgba(87, 91, 51, .1);
    color: #4D363E;
    font-weight: bold;
}
.mainFooter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1 fr 1fr;
}
.mainFooter img {
   padding: 1rem 0 1rem 1rem;      
}

.footerAddress {
    display: flex;
    
}
.footerAddress a {
    color: #4D363E;
    font-weight: bolder;
    padding-left: 2rem;   
}
.footerAddress a:hover {
    color: #B4152B;
}
.footerInfo {
    padding-left: 1rem;
}
.footerSocial {
    justify-self: center;
    margin-top: .5rem;
}
.copywriteArea {
    display: grid;
    grid-template-columns: auto auto;
    border-top: 2px solid #4D363E;    
} 
#copywrite {
    padding-left: 3rem;    
}
#copywrite a {
    color: #4D363E;
}
#copywrite a:hover {
    color: #B4152B;
}  
           