@media only screen and (min-width: 450px){

    /* Main appearence for the whole site.  
        Grid set up columns. */
        main {
            grid-template-columns: 1fr 1fr;
            
        }

    /*Grid containers appearance. 
        Div  margins*/

        div{
            margin: 10px;
               
        }
    /*boarders for h3*/
        h3 {
            
            border-radius: 20px 20px 0px 0px;
               
        }    
}