/*page layout basics*/
    body {
        background-color: #d4d0c3;
        
    }
    li {
        cursor: pointer;
    }
/*outside the main page meet and greet ----------------------*/    
    #meetandgreet, #meetandgreet h5 {            
        background-color: #FB7923;
        color: #09314F;
        border: 2px solid #09314F;
        border-radius: 8px;
        font-family: 'Playfair Display', serif;
        text-align: center;
        font-size: 1.3rem;
        margin: 5px;       
        }
    
    .off {
        display: none;
    }
    
/*HEADER------------------------------------------------------------------------
    background set up
    grid setup*/
        header  {
            background-color: #09314F;
            display: grid;
            grid-template-columns: 110px repeat(3, auto);            
            color: #E4DBDB;            
        }

    
    /*Logo image*/
        .logo {
            max-width: 100%;
            height: auto;
        }

    /*Heading riverton chamber */
        .heading {
            font-family: 'Playfair Display', serif;
           
        }
        .heading h1 {
            margin-bottom: 0;
        }
        .heading h2 {
            margin: 0;
        }
    /*social links*/
        .social {
            display: flex;
            gap: 10px;
            list-style-type: none;
        }
    /*Site navigation set up*/
        .headNav {
            padding-top: 15px;
            margin-right: 15px;
        }
        #headerNav {
            list-style-type: none; 
            padding-right: 10px;  
            display: none;
        }

        #headerNav.open {
            display: block;            
        }

        #headerNav a {
            color: #E4DBDB;
            font-family: 'Quicksand', sans-serif;
            text-decoration: none;            
            line-height: 1.3;
            display: block;
            padding: .8rem;            
            box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, .3);          
            
        }

        #headerNav a:hover{
            background-color: rgba(251, 121, 35, .6);
        
        }
        #hamburger {
            margin: .2rem;
            background: transparent;
            color: rgba( 228, 219, 219, .65);
            border-color:rgba( 228, 219, 219, .65);
            font-size: 1.5rem;            
        }
         
            /*navigation button working*/   
                #hamburger span:nth-child(1) {display: block;}
                #hamburger span:nth-child(2) {display: none;}
                #hamburger.open span:nth-child(1) {display: none;}
                #hamburger.open span:nth-child(2) {display: block;}
    /*todays date set up */
    
        .today {
            grid-column: 1/5;
            text-align: center;
            margin: 0.5rem;	
            padding: 0.75rem;
            background-color: rgba( 228, 219, 219, .20);
            
        }
/*Home Page Main area -----------------------------------------------------*/
/*MAIN set up*/
    .main {
        max-width: 1200px;
        margin: 1.25rem auto;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        padding: 10PX;
        gap: 5px;      
        } 
    
    /*Hero area*/
        .hero {                  
            text-align: center;
        }
        .hero h2 {
            color: #1D2E26;
            position: absolute;            
            padding: .31rem 1.25rem 1.25rem 4.6rem;
            font-family: 'Playfair Display', serif;
                                 
        }
        .heroJoin {
            background-color: #FB7923;
            border-radius: 5px;
            font-family: 'Playfair Display', serif;
            padding: 15px;
            color: #1D2E26;
            font-size: large;
            border: 2px solid #E4DBDB;
            font-weight: bold;
            position: absolute; 
            margin: 15px;   
                   
        }
        .hero img{ 
            display: block;             
            max-width: 100%;
            height: auto;                   
        }

        
        .heroJoinBtn {
            position: absolute;
            padding: 5rem 1.25rem 1.25rem 4.6rem;            
        }
        .heroJoinBtn button {
            background-color: #FB7923;
                border-radius: 5px;
                font-family: 'Playfair Display', serif;
                padding: 15px;
                color: #1D2E26;
                font-size: large;
                border: 2px solid #E4DBDB;
                font-weight: bold;
        }

        .heroJoinBtn button:hover {
            cursor: pointer;
        }

    /*Event area set up*/
        .event {
            background-color: #1D2E26;
            color: #E4DBDB;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, .3);
        }
        .event h2, .event h3 {
            
            font-family: 'Playfair Display', serif;
        }
        .event h3 {
            margin-top: 5px;
        }
        .event p {
            font-family: 'Quicksand', sans-serif;
            padding-top: 5px;
            
        }

    /*Weather area set up*/
        .weather {
            background-color: #1D2E26;
            color: #E4DBDB;
            padding-top: 10px;
            border-radius: 5px;
            box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, .3);
        }
        
        .weather div {
            background-color: #1D2E26;
        }    
        .currentWeather{
            justify-content: center;
            display: grid;
            padding-bottom: 10px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr; 
            gap: .75rem;           
        } 

        .currentWeather h3 {
            text-align: center;
            font-family: 'Playfair Display', serif;
            font-size: 1.5rem;
            margin: 0;
            padding-top: 10px;
            grid-column: 2/3; 
            grid-row: 1/2;                      
        }
        #weatherIcon {
            grid-row: 1/3;
            grid-column: 1/2;
            padding-top: 1rem;
            padding-left: 1.2rem;
        }
        #fig {
            grid-row: 2/3;
            grid-column: 2/3;
            text-align: center;
            padding: 0;
        }
        #degrees {
            grid-row: 1/3;
            grid-column: 3/4;
            padding-top: 1.6rem;
        }
        .currentWeather div {
            padding-left: 10px;
        } 
        .currentWeather img {
            max-width: 100%;
            height: auto;
            padding-top: .5rem;            
            border-radius: 5px;
        }

        .currentWeather figcaption {
            font-family: 'Playfair Display', serif;
           
        }
        .currentWeather div h2 {
            font-family: 'Playfair Display', serif;            
            margin: 0;
            font-size: 2rem;
        }
        
        .wind {
            text-align: center;
            padding-top: 10px;
            align-items: center;
            border-top: 1px solid rgba(228, 219, 219, .3);           
        }
        .wind p {
            margin: 0;
            padding: 2px;
            font-family: 'Quicksand', sans-serif;                        
        }

        .weatherCredit {
            font-size: .65rem;            
            text-align: center;
            padding-top: 2rem;            
        }

        .weatherCredit a {
            color: #E4DBDB;
            text-decoration: none;
            font-family: 'Playfair Display', serif;
        }
        .weatherCredit a:hover {
            color: #FB7923;
            cursor: pointer;
        }
        
        
    /*News Release area*/
        .news {
            background-color: #1D2E26;
            color: #E4DBDB;
            border-radius: 5px;
            padding-left: 20px;
            padding-top: 20px;
            box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, .3);
        }
        .news h2{
            font-family: 'Playfair Display', serif;
        }
        .new p {
            font-family: 'Quicksand', sans-serif;
        }

    /*Spotlight area grid set up*/
        .spotlight {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            
        }
        .spot1, .spot2 {
            padding: 10px;
            display: block;
            box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, .3);
            background-color: #1D2E26;
            border-radius: 5px;
            color: #E4DBDB; 
            text-align: center;           
        }
        .spot1 h3, .spot2 h3 {
            font-family: 'Playfair Display', serif; 
           
        }
        .spot1 p, .spot2 p {
            font-family: 'Quicksand', sans-serif;
        }
        .spot1 a {
            color: #E4DBDB;
            font-family: 'Quicksand', sans-serif; 
        }
        .spot1 a:hover {
            color: #FB7923;
        }
        .spot2 button {
            padding: 10px;
        }      
        
        .spot3 {
            display: none;
        }
    /*Join area*/
        .join {
            display: none;
        }

/*DISCOVER main area set up------------------------------------------------*/
/*discover main */
    .discovermain {
        max-width: 1200px;
        margin: 1.25rem auto;
        display: grid;
        grid-template-rows: repeat(3, auto);
        gap: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .demographics, .government, .geography, .rivertonmaps{
        background-color: #1D2E26;
        border-radius: 5px;       
        color: #E4DBDB;
        padding: 20px;
    }
    .geography, .rivertonmaps {
        display: none;
    }
    

    /*Demographics area set up*/
        .demographics {
            display: grid;
            grid-template-rows: repeat(4, auto);
        }
        .demographics h1, .demogrphics h3 {
            font-family: 'Playfair Display', serif;
        }
        .medianHousing, .medianAge, .familyLivingArrangments, .education {
            display: none;
        }
        .demographics p {
            font-family: 'Quicksand', sans-serif;
            margin-top: 5px;
            padding-left: 25px;   
        }
        .demographics h1 {
            border-bottom: 2px solid #E4DBDB;
        }
        .demographics h3 {
            font-size: 1.5rem;
            margin-bottom: 0;
        }
    /*Government area set up*/
        .government {
            display: grid;
            grid-template-rows: repeat(4, auto);
        }
        .government h1, .government h3 {
            font-family: 'Playfair Display', serif;
        }
        .government p {
            font-family: 'Quicksand', sans-serif;
            margin-top: 5px;
            padding-left: 25px;   
        }
        .government h1 {
            border-bottom: 2px solid #E4DBDB;
        }
        .government h3 {
            font-size: 1.5rem;
            margin-bottom: 0;
        }
    /*Riverton Photo area set up*/
    .rivertonPhotos{
        font-family: 'Quicksand', sans-serif;
        justify-items: center; 
        align-content: center;
        
    }
    .photo {
        border: 2px solid #1D2E26;
    }
    .photo img{
        width: 100%;        
        height:auto;
        background-color: #E4DBDB;       
        margin-bottom: 25px;
        cursor: pointer;
        margin: 0;
      }
      
      .photowords {
        background-color: #E4DBDB;
        text-align: center;
        padding: 10px 20px; 
        color: #1D2E26;      
      }

    /*bottom paragraph*/
    .visit {
        text-align: center;
    }


/*JOIN page Main area set up-----------------------------------------------*/
    .mainJoin{
        max-width: 1200px;
        margin: 1.25rem auto;
    }
    .mainJoin h1 {
        text-align: center;
        font-size: 2.5rem;
        color: #1D2E26;
    }

    /*Form lay out*/
    .joinForm fieldset {
       border: #1D2E26 solid 1px; 
       border-radius: 5px;
       margin: 15px;
       padding: 10px;
    }

    .joinForm legend {
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        color: #1D2E26;
        padding: 5px;
        font-size: larger;
        
    }
    
    .joinInput {
        display: block;
        color:#1D2E26;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        padding-top: 10px;
    }
    .joinInput input, .joinInput textarea {
        display: block;
        border: #1D2E26 solid 1px;
        border-radius: 4px;
        color:#09314F;
        font-weight: bold;
        padding: 10px;
        width: 95%;
        max-width: 20rem;
    }

    .joinRadio {
        display: block;
        padding: .75rem;
        color:#09314F;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
    }    

    .joinSubmit {
        
        margin: 0 0 1rem 2.5rem ;
        padding: 1rem;
        font-family: 'Playfair Display', serif;
        border: #1D2E26 3px solid;
        border-radius: 4px;
        background-color: #FB7923;
        font-weight: bold;
        font-size: larger;
        color: #1D2E26;
    }
    .joinSubmit:hover {
        cursor: pointer;
        background-color: #1D2E26;
        color: #E4DBDB;
    }
   
    

    /*Table lay out*/
    .mainTitle  {
        margin: 15px;
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
    }
    .mainTitle {
        padding: 0;
        color: #E4DBDB;
        background-color: #1D2E26;
        text-align: center;
        padding: 15px;
        margin-bottom: 0;
        
    }
    
    caption {
        text-align: center;
        caption-side: bottom;
        padding: 5px;
    }
    table {
        text-align: center;
        border: 1px solid #1D2E26;
        
        width: 100%;
        border-collapse: collapse;    
    }
    .price th {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    /*look of header in table*/
    th {
        font-size: larger;
        color: #E4DBDB;
        background-color: #1D2E26;
        padding-top: 20px;
        
    }
    .title {
        background-color: rgba(29, 46, 38, .7);
        font-family: 'Playfair Display', serif;
    }
    
    /*look of main table */
    
    td {
        border: 1px solid #1D2E26;
        height: 30px;
        font-size: larger;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Quicksand', sans-serif;
       
    }
    
    tr:nth-child(odd) { 
        background-color: rgba(228,219,219,.4);
    }
    tr {
        background-color: #E4DBDB;
    }    
    
    .ex {
        color: #FB7923;
    }

/*Thank you page look*/
    .thankYou h1{
        color: #1D2E26;
    }


/*FOOTER set up----------------------------------------------------------------*/
    
    footer {
        background-color: #09314F;
        text-align: center;
            
    }
    /*Contact area set up*/
        h2 {
            font-family:'Playfair Display', serif;
            color: #E4DBDB;
            margin: 0;
        }        
        
        footer div address, footer div p, footer p, footer div ul li {
            font-family: 'Quicksand', sans-serif;
            color:#E4DBDB ;
        }
        
        footer div a {
            display: block;
            padding: .8rem; 
            color: #E4DBDB;
        }
        footer div a:hover {
            color: #FB7923;
        }
        
        .bottomlogo,  .direction {
            line-height: .5;
        }
        .direction p {
            margin: 0;
            padding: 10px;
        }
    /*copywrite area set up*/
        .copywriteArea{
            display:grid;
            grid-template-columns: auto auto;
            border-top: 2px solid #E4DBDB;
        }        
        

