/*page layout basics*/
    body {
        background-color: #d4d0c3;
    }
    li {
        cursor: pointer;
    }

/*HEADER
    background set up
    grid setup*/
        header  {
            background-color: #09314F;
            display: grid;
            grid-template-columns: 110px repeat(3, auto);            
            color: #E4DBDB;            
        }

    /*Meet and greet set up*/
        #meetandgreet {            
            background-color: #FB7923;
            color: #1D2E26;
            border: 2px solid #E4DBDB;
            border-radius: 8px;
            
            }
        #meetandgreet h5 {
            margin: 5px;
        }
        .off {
            display: none;
        }
        
    /*Logo image*/
        .logo {
            max-width: 100%;
            height: auto;
        }

    /*Heading riverton chamber */
        .heading {
            font-family: 'Playfair Display', serif;
           
        }
        .heading h1 {
            margin-bottom: 0;
        }
        .heading h2 {
            margin: 0;
        }
    /*social links*/
        .social {
            display: flex;
            gap: 10px;
            list-style-type: none;
        }
    /*Site navigation set up*/
        .headNav {
            padding-top: 15px;
            margin-right: 15px;
        }
        #headerNav {
            list-style-type: none; 
            padding-right: 10px;  
            display: none;         
        }

        #headerNav.open {
            display: block;            
        }

        #headerNav a {
            color: #E4DBDB;
            font-family: 'Quicksand', sans-serif;
            text-decoration: none;            
            line-height: 1.3;
            display: block;
            padding: .8rem;            
            box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, .3);          
            
        }

        #headerNav a:hover{
            background-color: rgba(0, 0, 0, .3);
        
        }
        #hamburger {
            margin: .2rem;
            background: transparent;
            color: rgba( 228, 219, 219, .65);
            border-color:rgba( 228, 219, 219, .65);
            font-size: 1.5rem;            
        }
         
            /*navigation button working*/   
                #hamburger span:nth-child(1) {display: block;}
                #hamburger span:nth-child(2) {display: none;}
                #hamburger.open span:nth-child(1) {display: none;}
                #hamburger.open span:nth-child(2) {display: block;}
    /*todays date set up */
    
        .today {
            grid-column: 1/5;
            text-align: center;
            margin: 0.5rem;	
            padding: 0.75rem;
            background-color: rgba( 228, 219, 219, .20);
            
        }

/*Main set up*/
    .main {
        display: grid;
        grid-template-rows: 200px 200px 200px 200px 200px;
        padding: 10PX;
        gap: 5px;      
        } 
        
        .hero img{ 
            display: block;
            border-style: none;
            width: 100%;
            height: auto;
                       
        }

    /*basic Div area fix for each div*/
       main div{
        border: 1px solid rgba(0, 0, 0, .3);
        padding: 10px;
        background-color: #E4DBDB;           
        } 

    /*Hero area*/
    .main h2 {
        color: #1d2e26;
        
    }

    /*Spotlight area grid set up*/
        .spotlight {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            
        }
        .spotlight p {
            padding: 10px;
            display: block;
            box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, .3);
        }
        p.spot3 {
            display: none;
        }
    /*Join area*/
        .join {
            display: none;
        }


/*FOOTER set up*/
    
    footer {
        background-color: #09314F;
        text-align: center;
            
    }
    /*Contact area set up*/
        h2 {
            font-family:'Playfair Display', serif;
            color: #E4DBDB;
            margin: 0;
        }        
        
        footer div address, footer div p, footer p, footer div ul li {
            font-family: 'Quicksand', sans-serif;
            color:#E4DBDB ;
        }
        
        footer div a {
            display: block;
            padding: .8rem; 
            color: #E4DBDB;
        }
        footer div a:hover {
            color: #FB7923;
        }
        
        .bottomlogo,  .direction {
            line-height: .5;
        }
        .direction p {
            margin: 0;
            padding: 10px;
        }
    /*copywrite area set up*/
        .copywriteArea{
            display:grid;
            grid-template-columns: auto auto;
            border-top: 2px solid #E4DBDB;
        }        
        

