/*Medium sized media starting at 768px*/
@media only screen and (min-width: 768px){
    .main {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 10px;
    }

    .hero, .news, .spotlight, .join {
        grid-column: 1/4;
        
    }

    .news {
        grid-row: 2/3;
    }
    .spotlight {
        grid-row: 3/4;
    }
    .join {
        grid-row: 4/5;
    }
    .event {
        grid-column: 1/3;
    }
    
    .contact {
        display: grid;
        grid-template-columns: auto auto auto;
       }
    .bottomlogo {
        grid-column: 1/2;
    }   
    .nameaddress {
        grid-column: 2/3;
        
    }
    .direction {
        grid-column: 3/4;
        line-height: .5;
    }




}