@media only screen and (min-width: 768px){
   /*Header appearence. 
        list appearance*/ 
    ul{
        display: flex;
        flex-direction: row;
        
    }
    /*Main area appeance
        Display grid center
        */
    main {
        display: grid;
        grid-template-columns: auto auto;
    }

    

    /*footer {
        margin-bottom: none;
    }*/
}

