body {
      
    line-height: 1.6;
    background-color: #ebede9;
}

ul{
    background-color: white;
}
header {
    display: grid;
    grid-template-rows: auto auto;    
    background-color: #edd4d3;
    
}
h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Handlee', cursive;
}

header, nav, main, footer {
    max-width: 800px;
    margin: 1.25rem auto;
    
}
#familyPhoto {
    justify-content: center;       
    border-radius: 30px; 
    margin-bottom: 10px; 
    margin-left: 70px;
}

h2 {
    background-color: #EBEDE9;
    color: #6f3a34;
    text-align: center;
    font-family: 'Handlee', cursive;
    padding: 1rem;
}
li {
    color: #6f3a34;
    font-size: large;
    font-family: 'Quicksand', sans-serif;
}

a {
    padding-left: 5px;
}
a:link {
    color: #31535e;
}

a:visited {
    color: #31535e;
}
a:hover {
    color: #6592b8;
}

footer {
    display:grid;
    grid-template-columns: auto auto;    
    background-color: #edd4d3;
    text-align: center;
    padding: .20rem;
    font-family: 'Quicksand', sans-serif;
}


