body {
      
    line-height: 1.6;
    background-color: white;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #edd4d3;
    
}
h1 {
    text-align: center;
    padding: 75px;
    font-family: 'Handlee', cursive;
}

header, nav, main, footer {
    max-width: 800px;
    margin: 1.25rem auto;
    
}
#familyPhoto {
    justify-content: center;
    padding: 20px;
}

h2 {
    background-color: #EBEDE9;
    color: #7d413b;
    text-align: center;
    font-family: 'Handlee', cursive;
    padding: 1rem;
}
li {
    color: #6f3a34;
    font-size: large;
    
}

a:link {
    color: #31535e;
    font-family: 'Quicksand', sans-serif;
}

a:visited {
    color: #31535e;
}
a:hover {
    color: #6592b8;
}

footer {
    display:grid;
    grid-template-columns: auto auto;    
    background-color: #edd4d3;
    text-align: center;
}


p {font-family: 'Quicksand', sans-serif;

}